# Gitlab CI (Continuous Integration)
image: node:4.2.2
# add 'node_modules' to cache for speeding up builds
cache:
  paths:
    - node_modules/ # Node modules and dependencies

pages:
    stage: deploy
    tags:
        # kevin's iMac has been setup as a runner with this tag
        - catalog_deploy
    script:
        - npm install
        - npm run build
        - npm run build-docs-script
        - npm run build-docs
    artifacts:
        paths:
            - public