/*
 * Customizations for docpress
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:200,300,400,700');

/*
 * Antialias
 */

* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Update fonts
 */

html .header-nav,
html .footer-nav,
html .markdown-body,
html .toc-menu {
  font-family: source sans pro, sans-serif;
}

/*
 * Update look of 'code' elements
 */

html .markdown-body code {
  /*background: linear-gradient(to bottom, transparent 15%, rgba(47, 167, 143, 0.03) 15%, rgba(47, 167, 143, 0.03) 85%, transparent 85%);*/
  background: rgba(27,31,35,0.05);
  letter-spacing: -.05em;
  margin: 0 .05em;
  color: #222;
}

/*.markdown-body p code {
    color: #ef5350
}*/

html .markdown-body code:before,
html .markdown-body code:after {
  letter-spacing: -.35em;
}

html .markdown-body pre {
  padding: 24px;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.04);
  background: #fafbfb;
}

html .markdown-body pre code {
  background: transparent;
}

/*
 * Links and fonts
 */

html .markdown-body {
  max-width: 740px;
}

html .markdown-body a {
  font-weight: bold;
  color: #0ca2e3 /*accent*/;
}

/*
 * Update spacing to 1.7
 */

html .markdown-body {
  line-height: 1.7;
}

html .markdown-body p,
html .markdown-body blockquote,
html .markdown-body pre,
html .markdown-body ol,
html .markdown-body ul {
  margin-bottom: 1.7em;
}

html .markdown-body h2 {
  margin-top: 2em;
}

html .markdown-body h3 + p,
html .markdown-body h4 + p {
  margin-top: -.9em;
}

/*
 * Update heading styles
 */

html .markdown-body h1,
html .markdown-body h2,
html .markdown-body h3,
html .markdown-body h4 {
  font-family: "Montserrat", serif;
  font-weight: 300;
  color: #2c3033 /*accent2*/;
}

html .markdown-body h1 {
  margin-bottom: .6em;
  padding-bottom: .6em;
  border-bottom: solid 1px #eee;
}

html .markdown-body h2 {
  font-size: 2em;
}

html .markdown-body h3 {
  font-size: 1.5em;
}

html .markdown-body h4 {
  font-size: 1.2em;
}

/*.markdown-body blockquote {
    border-left-color: #0ca2e3;
}*/

/*
 * Big heading (.massive-header)
 */

@media (min-width: 769px) {
  html .page-index .markdown-body h1,
  html .markdown-body h1.massive-header,
  html .markdown-body h1.massive-header.-with-tagline + blockquote {
    padding-top: 29vh;
    padding-bottom: 29vh;
    border-bottom: 0;
    margin-bottom: .2em;
    font-size: 5em;
    font-family: "Montserrat", serif;
    font-weight: 200;
    color: #2c3033;
    line-height: 1.2;
  }

  html .markdown-body h1.massive-header.-with-tagline {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  html .markdown-body h1.massive-header.-with-tagline + blockquote {
    border-left: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 16vh;
    font-size: 4em;
    color: #ddd;
    padding-right: 10%;
  }
}

/*
 * Hide badges (like Travis)
 */

html a[href^='https://travis-ci.org'] {
  display: none;
}

html a[href='http://git.io/col'] img {
  display: none;
}

/* Mad hero shot */
/*
  $image: 'https://images.unsplash.com/photo-1441448770220-76743f9e6af6?q=80&fm=jpg&w=1080&fit=max&s=306e663b576aa39089a16b52354749f8';
  $str: .7;

  .page-index {
    background:
      linear-gradient(195deg, rgba(white, $str), rgba(white, $str + (1 - $str) * 0.9), white 600px),
      url($image) top left / 100% auto;
  }

  .toc-menu {
    box-shadow: inset -1px 0 rgba(black, .05);
    background: rgba(white, 0.5);
  }
*/

/*
 * Recolor
 */

html #nprogress .bar {
  background: #0ca2e3 /*accent*/;
}

html #nprogress .peg {
  box-shadow: 0 0 10px #0ca2e3 /*accent*/, 0 0 5px #0ca2e3 /*accent*/;
}

html #nprogress .spinner-icon {
  border-top-color: #0ca2e3 /*accent*/;
  border-left-color: #0ca2e3 /*accent*/;
}

html .header-nav .iconlink:hover,
html .header-nav .iconlink:hover .icon,
html .footer-nav .left a:hover:before,
html .footer-nav .right a:hover:after,
html .footer-nav a:hover .title,
html .menu-toggle .hover {
  color: #0ca2e3 /*accent*/;
}

.toc-menu {
    background: #edf2f3;
}

.-menu-visible .menu-toggle {
    background: transparent;
}

html .toc-menu .link,
html .toc-menu .hlink {
  box-shadow: inset -2px rgba(200, 200, 200, 0);
}

html .toc-menu .link.-active,
html .toc-menu .hlink.-active {
  box-shadow: inset -2px 0 #0ca2e3 /*accent*/;
}

/*
 * Pull box (.pull-box)
 *
 *     That's great. [link →](#)
 *     <!-- {p:.pull-box} -->
 */

html .markdown-body .pull-box {
  border-top: solid 2px #eee;
  padding-top: 24px;
  margin-top: 4em;
  position: relative;
}

html .markdown-body .pull-box:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}

html .markdown-body .pull-box:before {
  display: inline-block;
  font-family: 'Ionicons';
  content: '';
  font-size: 32px;
  font-weight: 400;
  /* @include ion-icon('ios-checkmark-outline', 32px); */
  vertical-align: middle;
  color: #0ca2e3 /*accent*/;
  margin-right: 16px;
}

html .markdown-body .pull-box a {
  border: solid 1px #0ca2e3 /*accent*/;
  border-radius: 4px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: .05em;
  margin-left: 16px;
}

html .markdown-body .pull-box a:hover {
  text-decoration: none;
  background: #0ca2e3 /*accent*/;
  color: white;
}

@media (min-width: 960px) {
  html .markdown-body .pull-box {
    padding-right: 100px;
    padding-left: 48px;
  }

  html .markdown-body .pull-box:before {
    position: absolute;
    top: 11px;
    left: 0;
  }

  html .markdown-body .pull-box a {
    position: absolute;
    right: 0;
    top: 20px;
  }
}

/*
 * File headings.
 *
 *      ##### `docpress.json`
 *      <!-- {.file-heading} -->
 *
 *      ```
 *      stuff here
 *      ```
 */

html .markdown-body .file-heading {
  font-weight: 700;
  font-size: .95em;

  padding-bottom: 16px;
  margin-bottom: 0;

  overflow: hidden;
  height: 1.3em;
  box-sizing: content-box;
  white-space: nowrap;
}

html .markdown-body .file-heading code {
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

html .markdown-body .file-heading code:before,
html .markdown-body .file-heading code:after {
  display: none;
}

html .markdown-body .file-heading + pre {
  margin-top: 0;
}

html .markdown-body .file-heading:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  font-family: Ionicons;
  font-weight: normal;
  font-size: 167x;
  width: 18px;
  color: #999;
  margin-top: -1px;
}

/*
 * No headers on tables
 */

table.no-head thead {
  display: none;
}


html .markdown-body a.btn {
  border: solid 1px #0ca2e3 /*accent*/;
  border-radius: 4px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: .05em;
  text-decoration: none;
  display: inline-block;
}

.markdown-body pre {
    padding: 16px !important;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa !important;
    border-radius: 3px;
    box-shadow: none !important;
}

.markdown-body .pl-s, .markdown-body .pl-pds, .markdown-body .pl-s .pl-pse .pl-s1, .markdown-body .pl-sr, .markdown-body .pl-sr .pl-cce, .markdown-body .pl-sr .pl-sre, .markdown-body .pl-sr .pl-sra {
    color: #ef5350;
}

html .markdown-body a.btn:hover {
 text-decoration: none;
}

.markdown-body {
    font-size: 18px;
}

.markdown-body code {
    tab-size: 2em;
}

.markdown-body .floatr {
    float: right;
}

.markdown-body h2 + p > code.api {
    margin-top: -4rem;
    font-size: 1.5rem;
    float: right;
    color: #333;
    background: #f6f8fa;
    line-height: 1em;
}


blockquote.note {
	background: #FFF8E1;
	border-left-color: #FFC107;
	padding-top: .5em;
	padding-bottom: .5em;
	color: #4E342E;
}

blockquote.note > p strong:first-child {
	text-transform: uppercase;
	color: #FFA000;
}

blockquote.alert {
	background: #ffebee;
	border-left-color: #f44336;
	padding-top: .5em;
	padding-bottom: .5em;
	color: #4E342E;
}

blockquote.alert > p strong:first-child {
	text-transform: uppercase;
	color: #d32f2f;
}

blockquote.info {
	background: #E3F2FD;
	border-left-color: #2196F3;
	padding-top: .5em;
	padding-bottom: .5em;
	color: #263238;
}

blockquote.info > p strong:first-child {
	text-transform: uppercase;
	color: #1976D2;
}

code.alert {
	background: #ffebee !important;
	color: #f44336 !important;
	font-weight: bold;
	padding-top: .3em;
	padding-bottom: .1em;
}

code.info {
	background: #E3F2FD !important;
	color: #1976D2 !important;
	font-weight: bold;
	padding-top: .3em;
	padding-bottom: .1em;
}

code.warn {
	background: #FFF8E1 !important;
	color: #FF8F00 !important;
	font-weight: bold;
	padding-top: .3em;
	padding-bottom: .1em;
}



/* Move these to docs-template */
h1.-with-tagline {
	padding-bottom: 0 !important;
}

h1.-with-tagline + blockquote {
	margin-bottom: 10vh;
}

.toc-menu .-level-1:first-child > .title {
	font-weight: bold;
}

.toc-menu .-level-1.-parent > .title {
	font-size: 1.3em;
}

.menu-item .-level-2.-parent > .title {
	font-weight: bold;
}


ul.heading-list .hlink:before {
	margin-right: 5px;
	width: 5px;
}

ul.heading-list .hlink {
	padding-left: 40px;
	padding-right: 4px;
}

.toc-menu .link.-active, .toc-menu .hlink.-active,
.toc-menu .link.-notactive, .toc-menu .hlink.-notactive {
	color: #2196F3;
	font-weight: bold;
}

body {
  --green: #4CAF50;
  --red: #f44336;
  --blue: #2196F3;
  --orange: #FF9800;
}


.demo-block:not([type="plain"]) {
  --blue: #2196F3;
  background: #ECEFF1;
  border-radius: 4px;
  padding: 1.4em;
  position: relative;
  margin-bottom: 1em;
  border-left: solid 4px #2196F3;
}

.demo-block:not([type="plain"]):before {
  content: 'PREVIEW';
  display: block;
  font-size: .8em;
  font-weight: bold;
  opacity: .3;
  position: absolute;
  right: .5em;
  top: .15em;
}

.demo-block form-control {
  min-width: 140px;
}

b-icon-list {
  padding: 0;
}